<header class="top-header th-2 top-header-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-7">
                <div class="list-inline">
                    <a href="#"><i class="fa fa-phone"></i>+91 9898989898</a>
                    <a href="#"><i class="fa fa-envelope"></i>carzone@gmail.come</a>
                    <a href="#"><i class="fa fa-clock-o"></i>Mon - Sun: 8:00am - 6:00pm</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-5">
                <ul class="top-social-media pull-right">
                    {% if user.is_authenticated %}
                      
                    <li>
                        <a href="{% url 'logout_view' %}" class="sign-in"><i class="fa fa-tachometer"></i> Logout</a>
                    </li>
                    <li>
                        <a href="{% url 'dashboard_view' %}" class="sign-in"><i class="fa fa-user"></i> Dashboard</a>
                    </li>
                    {% else %}
                    <li>
                        <a href="{% url 'login_view' %}" class="sign-in"><i class="fa fa-sign-in"></i> Login</a>
                    </li>
                    <li>
                        <a href="{% url 'register_view' %}" class="sign-in"><i class="fa fa-user"></i> Register</a>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</header>